/* CSS reset */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tsl-main-container {
  font-family: "Lato";
  height: 100vh;

  /* fallback */
  background: #8abec7;
  /* background: radial-gradient(circle at center, #3498db, #9b59b6); */
  background-repeat: no-repeat;
}
.tsl-nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;

  background-color: #d1d9e6;
  background-image: url(./public/Tsifoh_sm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #6a0138;
}

.menu-link {
  padding-left: 1rem;
  color: black;
}

.menu-link:hover {
  padding-left: 1rem;
  
  color: black;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #33001b, #ff0084);
  border-image-slice: 1;
}

.tsl-middle {
  position: absolute;
  right: 4rem;
  top: 35%;

  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
}
.txt {
  text-align: right;

  z-index: 2;
}

.txt-head {
  font-size: calc(1rem + 2vw);;
  font-weight: 300;
  margin-bottom: 0.1rem;
}

.txt-body {
  font-size: calc(2rem + 4vw);
  font-weight: 400;

  background: linear-gradient(to right, #33001b, #ff0084);
  background-clip: text;
  color: transparent;
  width: auto;
}

.txt-foot {
  margin-top: -0.8rem;
  padding-left: 15vw;
}


.tsl-footer {
  position: absolute;
  bottom: 2rem;
  left: 28%;
   
  zoom: 0.4;
  /* For Firefox */
  -moz-transform: scale(0.4); 
  -moz-transform-origin: 0 0;
}

.svg-icon.svg-icon-2 svg:hover {
  background-color: rgba(224, 255, 255, 0.3);
  cursor: pointer;
}


/* NEUMORPHIC radio button */

.radiogroup {
  display: flex;
  justify-content: space-around;
}

.wrapper {
  padding: 0 8vw;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.text {
  margin-left: 16px;
  opacity: .6;
  transition: opacity .2s linear, transform .2s ease-out;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow:
    -4px -2px 4px 0px #d1d9e6,
    4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #ecf0f3;
  box-shadow:
    -4px -2px 4px 0px #fff,
    4px 2px 8px 0px #d1d9e6;
  transform: scale3d(1, 1, 1);
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}



.tsl-carousel {
  width: 35vh;
  position: absolute;
  top: -6rem;
  left: -85%;
}

.tsl-carousel-2 {
  width: 30vh;
  position: absolute;
  top: -6rem;
  left: -61%;
}

.tsl-carousel-3 {
  width: 75vh;
  position: absolute;
  top: -8rem;
  left: -202%;
}